* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;




html {
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

body {
    overflow: hidden;
    height: 100vh;
}

.sounds {
    display: flex;
    flex-wrap: nowrap;
    height: 70%;


}


.sound {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: auto;
    background-color: grey;
    margin: 0.3vw 0.5vh;
    font-size: 2vh;
    transition: all .07s ease;
}

.playing {
    transform: scale(.9)
}

footer {
    text-align: left;
}

